// Colors
$color-1: #1f223a;
$color-2: #69729b;
$color-3: #a8697f;

$textcolor: #000;

$break-1: 700px;
$break-2: 1000px;

$fa-font-path: "bower_components/components-font-awesome/fonts";

$sans: barlow, helvetica, sans-serif;
$serif: averiasanslight, helvetica, sans-serif;
